<section id="projects" class="py-20 bg-gray-50">
  <div class="max-w-6xl mx-auto px-6">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold text-gray-900 mb-6">
        {{ "projects.title" | translate }}
      </h2>
      <p class="text-xl text-gray-600 max-w-3xl mx-auto">
        {{ "projects.description" | translate }}
      </p>
    </div>

    <section class="hidden lg:block">
      <div class="grid grid-cols-3 gap-8">
        @for (project of paginationService.desktop.visible() ; track $index) {
        <app-project-card [project]="project"></app-project-card>
        }
      </div>
      <div class="flex gap-3 justify-center mt-12">
        <button
          type="button"
          (click)="paginationService.desktop.prev()"
          [disabled]="paginationService.desktop.currentPage() === 1"
          class="flex items-center justify-center rounded-full border disabled:border-gray-600 border-blue-300 bg-blue-600 disabled:bg-white disabled:text-gray-600 text-white focus:outline-none focus:ring-2"
        >
          <i-lucide [img]="chevronLeft" class="w-10 h-10"></i-lucide>
        </button>
        <button
          type="button"
          (click)="paginationService.desktop.next()"
          [disabled]="
            paginationService.desktop.currentPage() ===
            paginationService.desktop.totalPages()
          "
          class="flex items-center justify-center rounded-full border transition-all duration-600 disabled:border-gray-600 border-blue-300 bg-blue-600 disabled:bg-white disabled:text-gray-600 text-white focus:outline-none focus:ring-2"
        >
          <i-lucide [img]="chevronRight" class="w-10 h-10"></i-lucide>
        </button>
      </div>
    </section>
    <section class="lg:hidden">
      <div class="grid grid-cols-1">
        @for (project of paginationService.mobile.visible() ; track $index) {
        <app-project-card [project]="project"></app-project-card>
        }
      </div>
      <div class="flex gap-3 justify-center mt-12">
        <button
          type="button"
          (click)="paginationService.mobile.prev()"
          [disabled]="paginationService.mobile.currentPage() === 1"
          class="flex items-center justify-center rounded-full border disabled:border-gray-600 border-blue-300 disabled:text-gray-600 text-blue-600 focus:outline-none focus:ring-2"
        >
          <i-lucide [img]="chevronLeft" class="w-9 h-9"></i-lucide>
        </button>
        <button
          type="button"
          (click)="paginationService.mobile.next()"
          [disabled]="
            paginationService.mobile.currentPage() ===
            paginationService.mobile.totalPages()
          "
          class="flex items-center justify-center rounded-full border disabled:border-gray-600 border-blue-300 disabled:text-gray-600 text-blue-600 focus:outline-none focus:ring-2"
        >
          <i-lucide [img]="chevronRight" class="w-9 h-9"></i-lucide>
        </button>
      </div>
    </section>
  </div>
</section>
