name: Build and Deploy portfolio

on:
  push:
    branches: [production]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install --no-audit --no-fund

      - name: Build application

        run: npx ng build --configuration production --output-path docs --base-href /portfolio/

      - name: Adjust build output for GitHub Pages

        run: |
          if [ -d "./docs/browser" ]; then
            shopt -s dotglob
            mv ./docs/browser/* ./docs/
            rm -rf ./docs/browser
          fi
          # 404 for client-side routing
          cp ./docs/index.html ./docs/404.html

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
